pkgs.dev.azure.com/yagosrocha/kloser.in/_packaging/kloserin/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmMTc5YjBiNy03NjQ4LTYwNzAtODA1Zi02MWUxYWE4MzQ2MjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZWEyMTQ2YjItODM0Ni00ZDY1LWFkNjctMDY2NTJkZDJhZmE2Iiwic2lkIjoiOTJiMzQyODgtM2I3OS00NTg5LWI0Y2MtZTIzMTQ2Y2QyOWIwIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjczZGNjYTU0LTM4MTMtNDM0Ni1iMGRhLTEwODFmYTgzZDBmNyIsIm5iZiI6MTU5MTIxMDI2MiwiZXhwIjoxNTk4OTg2ODQ0fQ.QW6ycyRM1n403GLGOsamdHn2iL6w9Fu5Pz-TyqEgvwNu-6uZQFf96wnjSbfdW3cjuqXjRpZ_iq3PBh7F-ubAWrmRJ-xfVgXkApqLntA8lFfMBp3xOaYFK83Dor9t_cNUXgvTU-nOMqElfnLDf1DTt1LNhtwUcKWqyGlQpXZP99SoygTUqStrPIiYuj5ZTTuYNdg04qg1VEabipe_VJ_ohIEhiQO_4e5WbKB0d49CeSU98NARV8mmqB-p1OQRkkXX_g7US4vqYcyNV5hlDLtcOwoms_NPwjGyM3HKaPkxSW01zxM1aZw9bSqOADPxls8TaXPHGb11t1juxnxRNJWB6w
braspag.pkgs.visualstudio.com/_packaging/Braspag_Js/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmMTc5YjBiNy03NjQ4LTYwNzAtODA1Zi02MWUxYWE4MzQ2MjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZWExZDVkYmUtNDBkYS00MTA2LWI4MDAtOWY2NDIyMDdiNDA0Iiwic2lkIjoiN2Y4YTg4ZWYtYjRlMC00ZmNlLTg4YmMtOGUyNTJkZDc0YWNjIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjdlOGU5NzA3LTU4ZDYtNGIwNC1hMjQ0LTFhZTk1YjhhZWFhOSIsIm5iZiI6MTYwMTAwMzU3OCwiZXhwIjoxNjA4NzgwMTYzfQ.LUCYZ5O0VYFqQoboJLOr1gHuBL_3GUxlKBxgjhfBByheEu1pqH_Ef64l22E9-ssI9a5X3_p6xC5Gps3scu2VSLcJP8AeyQSU8OWdQnfcStraji3lAAROTfRX_PKgGWfA9DZpjd8kgnUhO-RhnkSC28zxMoCTltE88ZuduLnl1_O0kCAi96zcTi9RW-faicdLew4cTinf9FaVI6rFisZHWiBD0QJ_nxFSzXYgO1LZyXm537b0uTtSaJvYgTqd1l13PXc9cal5LdrnYXhmKg2EB7_pbhT68oMi3zcOuLlkccNHfuJWDdvKNjxSUFsfC8RiDzI4ZE-DkVGgH_ej3HZfpQ
pkgs.dev.azure.com/twire-labs/_packaging/twire-labs-js/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjMjBhNDI5YS1kMTZjLTZiNTAtYjNiMy00MjliMjg2Y2I0ZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWJhZjAzYTctN2MwOS00YmMzLWIxOWEtNTk4ODE3ZjY4MzUzIiwic2lkIjoiZjExZDRhYzAtOWVkYS00NjcwLTlkNjctNDU3ZWMwNTk0NDg2IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjJiMTRlOWZkLTA3NjItNDA4MC1hZWM1LTdlNjMxZjY5NzBmNiIsIm5iZiI6MTYyNTk1NTY1NCwiZXhwIjoxNjMzNzMyMTg0fQ.mCLvS5MlmLvHP_D1p5tAal93PEl4AJ_pY8iW6Vu0-PrgJ14Cl9b_sCyWaKzbwSwFdC-WnuXe_kiOdwq_QINmcoi63246zC4zio71oPVjQYPugILqklYJMiS9dnfRw2C4k_rR2c4qf4tR-urAHNiE0n2nOIkEl6KnrtqCT8j0QtRETYdTw49ZhNVYMx6FGdySMkHI25PiycbzB9vvaen61qFfYrMv3XnZonSE_HlzZLeqysT8k68AKk3DC8BYNNo_8106l5XZQebUmVfYP1gI20Uh6R7apVdCjKboaYxcxKycItXbPe03to3wFquuXQ56cGxQ2MNluxa3NeJz5b44bQ
//always-auth=true
@fortawesome:registry=https://pkgs.dev.azure.com/twire-labs/_packaging/twire-labs-js/npm/registry/
//pkgs.dev.azure.com/twire-labs/_packaging/twire-labs-js/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjMjBhNDI5YS1kMTZjLTZiNTAtYjNiMy00MjliMjg2Y2I0ZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNWIwZmZhZmYtNDhiZC00YWExLTkxMmQtODFkNWFlNjVlY2JhIiwic2lkIjoiZWYxZjZiMzMtOWViNy00NzY1LWEwNDAtOGMxNGFmZTc0MmZlIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjJiMTRlOWZkLTA3NjItNDA4MC1hZWM1LTdlNjMxZjY5NzBmNiIsIm5iZiI6MTY0Njc4NjUyMSwiZXhwIjoxNjU0NTYzMDQ4fQ.batUjY0q0XKmfAeFoAdHMQNJ-DwUKq0ZU0Idep3nbsyVw5Fzn3SA9_xg7WQMJVpSyCdBDxiFLVIbuEWggNv_3t4KNy2A-pDs3krdoE0ifC8l9NX-XGBIOLSVzTTRvKSLWH_qmpwgi-oT8rgJLjGU2m4KTp4yp5dkRN7bB13eh28GNwPEr8iTO63XjgamXFkk2e1ny1AcLnpoYEGkK99WcOdhP88b1YhidEE4pa1R5fPGZ_VmHfVW5HCivgKcJdfhFAkIkI36rX6MgOMtswIj9gr3wdWiyH9yhCcrDOB16OkY7AxaYxofY9oT_E8vMG8sqNFYMl8atgrW9s2NWKH56A

